name: Continuous Integration
on: pull_request

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Java
          uses: actions/setup-java@v1
          with:
            java-version: 11
      - name: Install dependencies and Build the project
          run: mvn clean install
      - name: Run code linter
        uses: nikitasavinov/checkstyle-action@master
        if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository }}
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload code coverage report to workflow as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: core/target/site
          path: coverage
      - name: Upload code coverage report to codecov.io and comment in pull request
        uses: codecov/codecov-action@v1

      - name: Upload Sonar report to sonarcloud.io and comment in pull request
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=adobeinc
            -Dsonar.projectKey=adobe_aem-project-core
